.controlsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 768px) {
  .controlsContainer {
    flex-wrap: nowrap;
  }
}

.noCards {
  width: fit-content;
  margin: 0 auto;
}

.select {
  height: 40px;
  padding: 5px;
  border-radius: 8px;
  border: none;
  outline: none;
  background-color: var(--card-bg-color);
  color: var(--text-color);
}

.paginationContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
}
